/*About-section*/
.about-section {
  background: var(--primary-color);
  padding: 60px 0;
}

@media only screen and (max-width: 500px) {
  .about-section .responsive-container {
    padding: 0 25px;
  }
}

@media only screen and (max-width: 992px) {
  .about-section .about-img-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.about-section .about-img-container .about-img {
  background: url("../images/about-section/person.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 436px;
  height: 511px;
  display: inline-block;
  border-radius: 20px;
}

@media only screen and (max-width: 1200px) {
  .about-section .about-img-container .about-img {
    width: 350px;
    height: 380px;
  }
}

@media only screen and (max-width: 768px) {
  .about-section .about-img-container .about-img {
    width: 320px;
    height: 350px;
  }
}

@media only screen and (max-width: 425px) {
  .about-section .about-img-container .about-img {
    width: 220px;
    height: 250px;
  }
}

@media only screen and (max-width: 1000px) {
  .about-section .about-text-content {
    text-align: center;
    margin-top: 40px;
  }
}

.about-section .about-text-content h1 {
  font-size: 37px;
  font-family: "Inter-Bold";
  color: var(--section-headline-color);
  line-height: 0.811;
}

@media only screen and (max-width: 1024px) {
  .about-section .about-text-content h1 {
    font-size: 35px;
  }
}

@media only screen and (max-width: 768px) {
  .about-section .about-text-content h1 {
    font-size: 32px;
  }
}

@media only screen and (max-width: 425px) {
  .about-section .about-text-content h1 {
    font-size: 25px;
  }
}

.about-section .about-text-content p {
  font-size: 16px;
  margin-top: 25px;
  font-family: "Inter-Regular";
  color: var(--text-color);
  line-height: 1.563;
}

@media only screen and (max-width: 1024px) {
  .about-section .about-text-content p {
    font-size: 14px;
    margin-top: 20px;
  }
}

@media only screen and (max-width: 425px) {
  .about-section .about-text-content p {
    font-size: 13px;
    margin-top: 20px;
  }
}

.about-section .counters {
  margin-top: 80px;
}

@media only screen and (max-width: 1400px) {
  .about-section .counters {
    margin-top: 40px;
  }
}

@media only screen and (max-width: 1200px) {
  .about-section .counters {
    margin-top: 50px;
  }
}

@media only screen and (max-width: 1024px) {
  .about-section .counters {
    margin-top: 40px;
  }
}

@media only screen and (max-width: 768px) {
  .about-section .counters .clients {
    text-align: center;
  }
}

.about-section .counters .clients h1 {
  font-size: 32px;
  font-family: "Poppins-Bold";
  color: var(--green-color);
  line-height: 0.964;
  margin-bottom: 15px;
}

@media only screen and (max-width: 768px) {
  .about-section .counters .clients h1 {
    font-size: 25px;
  }
}

.about-section .counters .clients p {
  font-size: 14px;
  font-family: "Inter-Bold";
  color: var(--section-headline-color);
  text-transform: uppercase;
  line-height: 1.421;
}

@media only screen and (max-width: 1024px) {
  .about-section .counters .clients p {
    font-size: 13px;
  }
}

@media only screen and (max-width: 768px) {
  .about-section .counters .clients p {
    font-size: 13px;
  }
}

@media only screen and (max-width: 768px) {
  .about-section .download-btn {
    text-align: center;
  }
}

.about-section .download-btn button {
  border-radius: 3px;
  background: var(--green-color);
  top: 1425px;
  width: 193px;
  height: 60px;
  border: none;
  font-size: 14px;
  font-family: "Inter-Bold";
  color: var(--text-color-white);
  line-height: 2.143;
  margin-top: 55px;
  outline: 1px solid;
  outline-color: var(--green-color);
  outline-offset: 0px;
  -webkit-transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}

@media only screen and (max-width: 1200px) {
  .about-section .download-btn button {
    margin-top: 35px;
  }
}

@media only screen and (max-width: 1024px) {
  .about-section .download-btn button {
    margin-top: 30px;
  }
}

@media only screen and (max-width: 768px) {
  .about-section .download-btn button {
    width: 160px;
    height: 44px;
  }
}

.about-section .download-btn button img {
  width: 25px;
  height: 25px;
  border-radius: 50px;
  margin-right: 5px;
}

.about-section .download-btn button:hover {
  background: var(--button-hover-color);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  outline-color: rgba(0, 0, 0, 0);
  outline-offset: 15px;
  color: var(--text-color-white);
}

/*About-Section End*/
/*# sourceMappingURL=about-section.css.map */